@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="containerForm">
        <h1>Email Subscription Service</h1>
        <form method="post" action="/Home/sendMessage">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Enter your email address" required>
            </div>
            <div class="form-group">
                <label for="name">name:</label>
                <input type="text" id="name" name="name" placeholder="Enter your name" required>
            </div>
            <div class="form-group">
                <label for="information">Message:</label>
                <input type="textarea" id="information" name="information" placeholder="Leave a message!" required>
            </div>
            <div class="form-group">
                <button type="submit">Subscribe</button>
            </div>
        </form>
    </div>
</div>
